<table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%;max-width:600px" align="center">
  <tbody>
    <tr>
      <td role="modules-container" style="padding:0px 0px 0px 0px;color:#000000;text-align:left" bgcolor="#ffffff" width="100%"
        align="left">

        <table class="m_7748648106689893009module m_7748648106689893009preheader m_7748648106689893009preheader-hide" role="module"
          border="0" cellpadding="0" cellspacing="0" width="100%" style="display:none!important;opacity:0;color:transparent;height:0;width:0">
          <tbody>
            <tr>
              <td role="module-content">
                <p>Olá %nome%, Seu pedido foi confirmado!</p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="m_7748648106689893009wrapper" role="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed">
          <tbody>
            <tr>
              <td style="font-size:6px;line-height:10px;padding:0px 0px 0px 0px" valign="top" align="center">
                <img class="m_7748648106689893009max-width CToWUd a6T" border="0" style="display:block;color:#000000;text-decoration:none;font-family:Helvetica,arial,sans-serif;font-size:16px;max-width:100%!important;width:100%;height:auto!important"
                  src="https://ci3.googleusercontent.com/proxy/e0FqUSNRGEWDPixj_jp-JAi95KKuyQrL1z8Ctp_8l_NXud4xG1m0Tev00LhU_eWYoYZUv4_RyWwpQlh-w-x7JpVU3fjBn8WV6aq0BPqtDgF1u8QnM1gHHyiYfO4A_Bnu6hNtoCJYqwl6l-sEYtF8qMOZ5_-WhEWoEiQcOcJXJ8WxmpDoORbdFWFKhHqPWgXX71oRZggc0_nYoef80jHDvEguDFikF870JSxSlU345hilp9YVyllTKlThLuHOhqyiwE6_LtF3RmmG5fTPFODL6JArM4iyD1I=s0-d-e1-ft#https://marketing-image-production.s3.amazonaws.com/uploads/02da9072b4918906be86bda43b366b49df634f0c7900ce0935338c0a0afdc42112c0e7ce5f8b150600ddd45451f461755339f5845f8650e04eef4f3335e62312.jpg"
                  alt="" width="600" tabindex="0">
                <div class="a6S" dir="ltr" style="opacity: 0.01; left: 666px; top: 284px;">
                  <div id=":32g" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Fazer o download do anexo "
                    data-tooltip-class="a1V" data-tooltip="Fazer o download">
                    <div class="aSK J-J5-Ji aYr"></div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="m_7748648106689893009module" role="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed">
          <tbody>
            <tr>
              <td style="padding:0px 0px 0px 0px;text-align:justify" height="100%" valign="top" bgcolor="">
                <h1 style="margin-bottom:0px;font-family:Helvetica;font-size:40px;font-style:normal;line-height:50px;text-align:left;font-variant-ligatures:normal;font-variant-caps:normal;color:rgb(96,96,96)!important">&nbsp;</h1>

                <div>&nbsp;</div>

                <h1 style="margin-bottom:0px;font-family:Helvetica;font-size:40px;font-style:normal;line-height:50px;text-align:left;font-variant-ligatures:normal;font-variant-caps:normal;color:rgb(96,96,96)!important">Olá %nome%,&nbsp;muito obrigado por escolher a
                  <span class="il">Grifoo</span>.</h1>

                <h3 style="margin-bottom:0px;font-family:Helvetica;font-size:18px;font-style:normal;line-height:22.5px;letter-spacing:-0.5px;text-align:left;font-variant-ligatures:normal;font-variant-caps:normal;color:rgb(96,96,96)!important">
                  <br> Seu cadastro foi confirmado,&nbsp;veja o que irá acontecer daqui para frente.</h3>

                <div>
                  <span style="color:rgb(96,96,96);font-family:Helvetica;font-size:15px;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;text-align:left">&nbsp;</span>

                  <p style="margin-top:1em;margin-bottom:1em;color:rgb(96,96,96);font-family:Helvetica;line-height:22.5px;text-align:left;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400">
                    Em breve entraremos em contato para confirmar algumas informações do seu cadastro.
                  </p>

                  <p style="margin-top:1em;margin-bottom:1em;color:rgb(96,96,96);font-family:Helvetica;line-height:22.5px;text-align:left;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400">
                    Obrigado pelo cadastro.
                  </p>

                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="m_7748648106689893009module" role="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed">
          <tbody>
            <tr>
              <td style="padding:18px 0px 18px 0px;line-height:22px;text-align:inherit" height="100%" valign="top" bgcolor="">
                <div>
                  <h1 style="font-size:40px;margin-bottom:0px;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;line-height:50px;font-family:Helvetica;color:rgb(96,96,96)!important">Detalhes do pedido.</h1>
                  &nbsp;
                  <p style="margin-top:1em;margin-bottom:1em;font-style:normal;font-variant-ligatures:normal;font-variant-caps:normal;font-weight:400;line-height:22.5px;font-family:Helvetica;color:rgb(96,96,96)">Atenciosamente,
                    <br> Equipe
                    <span class="il">Grifoo</span>
                  </p>
                </div>

              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>