
    <!-- Navbar -->
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header page-header-small" style="background-image: url('../../assets/img/banner.jpg')">
            <div class="page-header-image" data-parallax="true">
            </div>
            <div class="container" >
                <div class="content-center">
                    <h1 class="title">Contrate serviços de segurança para seu evento ou empresa.</h1>                  
                    <div class="text-center">
                      <div class="send-button">
                        <a href="/para-minha-empresa/pedido" class="btn btn-primary btn-round btn-lg bg-info">Quero contratar para meu evento</a>
                        <a href="/para-meu-evento/pedido" class="btn btn-primary btn-round btn-lg bg-info">Quero contratar para minha empresa</a>
                    </div>
                    <div class="send-button">
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-team text-center">
            <div class="container">
                <h2 class="title">Como funciona?</h2>
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="../../assets/img/icons/list-8x.png" alt="">
                                <h4 class="title">Conte-nos para o que você quer proteção</h4>
                                <p class="">Informe o local, horário numero de pessoais do que você precisa de seguranças.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="../../assets/img/icons/people-8x.png" alt="">
                                <h4 class="title">Indicamos a proteção ideal para seu evento</h4>
                                <p class="">Com base no tipo solicitação, numero de pessoas e perido de duração nosso algoritimo inidica a quantidade ideal de profissionais de acordo com a sua necessidade</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="../../assets/img/icons/credit-card-8x.png" alt="">
                                <h4 class="title">Pagamento on-line e liberação após o serviço</h4>
                                <p class="">Deixe que a nossa plataforma cuide da gestão de pagamentos dos profissionais de segurança.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section section-about-us">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                      <h2 class="title">Serviços oferecidos</h2>
                      <h5 class="description">According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h5>
                  </div>
              </div>
              <div class="separator separator-primary"></div>
          </div>
      </div> -->
    </div>
