<!-- Navbar -->
<!-- End Navbar -->
<div class="wrapper">
  <div class="page-header page-header-small" style="background-image: url('../../assets/img/banner-home.jpg')">
    <div class="page-header-image" data-parallax="true">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Seguranças a partir de R$70hr.
          <span id="typed"></span>
        </h1>
        <h3>Contrate serviços de segurança de forma rápida e segura.</h3>
        <h4 class="description text-center"> Seguranças para festas, eventos, buffets ou o que você quiser </h4>

        <div class="text-center">
          <div class="send-button">
            <a href="#/para-meu-evento/pedido" class="btn btn-primary btn-round btn-lg bg-info">Quero contratar para meu evento</a>
            <!-- <a href="#/para-minha-empresa/pedido" class="btn btn-primary btn-round btn-lg bg-info">Quero contratar para minha empresa</a> -->
          </div>
          <div class="send-button">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-team text-center">
    <div class="container">
      <h2 class="title">Veja Como funciona:</h2>
      <div class="team">
        <div class="row">
          <div class="col-md-4">
            <div class="team-player">
              <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0aXRsZS8+PGcgZGF0YS1uYW1lPSI2NS1DaGVjayIgaWQ9Il82NS1DaGVjayI+PHBhdGggZD0iTTMwLDExSDI4djJoMlYyN0gyVjEzSDE2VjExSDJhMiwyLDAsMCwwLTIsMlYyN2EyLDIsMCwwLDAsMiwySDMwYTIsMiwwLDAsMCwyLTJWMTNBMiwyLDAsMCwwLDMwLDExWiIvPjxwYXRoIGQ9Ik0yMS4yOSwyMi43MWExLDEsMCwwLDAsMS40MSwwbDItMkExLDEsMCwwLDAsMjUsMjBWNGExLDEsMCwwLDAtMS0xSDIwYTEsMSwwLDAsMC0xLDFWMjBhMSwxLDAsMCwwLC4yOS43MVpNMjEsMTBoMnY5LjU5bC0xLDEtMS0xWiIvPjxwYXRoIGQ9Ik04LDIzaDlWMjFINkEyLDIsMCwwLDAsOCwyM1oiLz48cGF0aCBkPSJNMTYsMTlWMTdIMTBhMiwyLDAsMCwwLDIsMloiLz48L2c+PC9zdmc+"
                alt="" style="width: 30%;">
              <h4 class="title subtitle">Conte-nos para o que você quer proteção</h4>
              <p class="">Informe o local, dia, horário e numero de pessoas.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDpub25lO3N0cm9rZTojMDAwO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2Utd2lkdGg6MnB4O308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxnIGRhdGEtbmFtZT0iNDYtTG9jayIgaWQ9Il80Ni1Mb2NrIj48cmVjdCBjbGFzcz0iY2xzLTEiIGhlaWdodD0iMjAiIHdpZHRoPSIyNCIgeD0iNCIgeT0iMTEiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik05LDExVjJhMSwxLDAsMCwxLDEtMWg2Ii8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMjMsMTFWMmExLDEsMCwwLDAtMS0xSDE2Ii8+PGNpcmNsZSBjbGFzcz0iY2xzLTEiIGN4PSIxNiIgY3k9IjE5IiByPSIzIi8+PGxpbmUgY2xhc3M9ImNscy0xIiB4MT0iMTYiIHgyPSIxNiIgeTE9IjIyIiB5Mj0iMjciLz48L2c+PC9zdmc+"
                style="width: 30%;" alt="">
              <h4 class="title subtitle">Indicamos a proteção ideal para seu evento</h4>
              <p class="">Com base no tipo de solicitação nossa plataforma inidica a quantidade ideal de profissionais de acordo com
                a sua necessidade</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDpub25lO3N0cm9rZTojMDAwO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2Utd2lkdGg6MnB4O308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxnIGRhdGEtbmFtZT0iNDUtQ3JlZGl0IENhcmQiIGlkPSJfNDUtQ3JlZGl0X0NhcmQiPjxyZWN0IGNsYXNzPSJjbHMtMSIgaGVpZ2h0PSIyMiIgd2lkdGg9IjMwIiB4PSIxIiB5PSI1Ii8+PGxpbmUgY2xhc3M9ImNscy0xIiB4MT0iMSIgeDI9IjMxIiB5MT0iMTAiIHkyPSIxMCIvPjxsaW5lIGNsYXNzPSJjbHMtMSIgeDE9IjEiIHgyPSIzMSIgeTE9IjE2IiB5Mj0iMTYiLz48bGluZSBjbGFzcz0iY2xzLTEiIHgxPSIyNyIgeDI9IjE5IiB5MT0iMjEiIHkyPSIyMSIvPjxsaW5lIGNsYXNzPSJjbHMtMSIgeDE9IjE1IiB4Mj0iMTciIHkxPSIyMSIgeTI9IjIxIi8+PC9nPjwvc3ZnPg=="
                style="width: 30%;" alt="">
              <h4 class="title subtitle">Pagamento on-line e liberação após o serviço</h4>
              <p class="">Após a prestação do serviço e sua aprovação a liberação do pagamento é realizada.</p>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="text-center">
      <div class="send-button">
        <a href="#/para-meu-evento/pedido" class="btn btn-primary btn-round btn-lg bg-info">Quero contratar para meu evento</a>
        <!-- <a href="#/para-minha-empresa/pedido" class="btn btn-primary btn-round btn-lg bg-info">Quero contratar para minha empresa</a> -->
      </div>
    </div>

    <!-- <div class="section section-team text-center">
                <div class="container">
                        <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h2 class="title">Seguranças a um click de distância</h2>
                                    <h5 class="description">A Grifoo é uma plataforma de contratação de seguranças onde todos os profissioais são verificados e qualifcados para proporcionar a melhor experiência e segurança.</h5>
                                </div>
                            </div>
                    <div class="team">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="team-player">
                                    <img  src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0aXRsZS8+PGcgZGF0YS1uYW1lPSI2NS1DaGVjayIgaWQ9Il82NS1DaGVjayI+PHBhdGggZD0iTTMwLDExSDI4djJoMlYyN0gyVjEzSDE2VjExSDJhMiwyLDAsMCwwLTIsMlYyN2EyLDIsMCwwLDAsMiwySDMwYTIsMiwwLDAsMCwyLTJWMTNBMiwyLDAsMCwwLDMwLDExWiIvPjxwYXRoIGQ9Ik0yMS4yOSwyMi43MWExLDEsMCwwLDAsMS40MSwwbDItMkExLDEsMCwwLDAsMjUsMjBWNGExLDEsMCwwLDAtMS0xSDIwYTEsMSwwLDAsMC0xLDFWMjBhMSwxLDAsMCwwLC4yOS43MVpNMjEsMTBoMnY5LjU5bC0xLDEtMS0xWiIvPjxwYXRoIGQ9Ik04LDIzaDlWMjFINkEyLDIsMCwwLDAsOCwyM1oiLz48cGF0aCBkPSJNMTYsMTlWMTdIMTBhMiwyLDAsMCwwLDIsMloiLz48L2c+PC9zdmc+" alt="" style="width: 30%;">
                                    <h4 class="title subtitle">Profissionais credenciados</h4>
                                    <p class="">Informe o local, horário numero de pessoais do que você precisa de seguranças.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-player">
                                    <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDpub25lO3N0cm9rZTojMDAwO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2Utd2lkdGg6MnB4O308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxnIGRhdGEtbmFtZT0iNDYtTG9jayIgaWQ9Il80Ni1Mb2NrIj48cmVjdCBjbGFzcz0iY2xzLTEiIGhlaWdodD0iMjAiIHdpZHRoPSIyNCIgeD0iNCIgeT0iMTEiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik05LDExVjJhMSwxLDAsMCwxLDEtMWg2Ii8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMjMsMTFWMmExLDEsMCwwLDAtMS0xSDE2Ii8+PGNpcmNsZSBjbGFzcz0iY2xzLTEiIGN4PSIxNiIgY3k9IjE5IiByPSIzIi8+PGxpbmUgY2xhc3M9ImNscy0xIiB4MT0iMTYiIHgyPSIxNiIgeTE9IjIyIiB5Mj0iMjciLz48L2c+PC9zdmc+" style="width: 30%;" alt="">
                                    <h4 class="title subtitle">Gestão de pagamentos </h4>
                                    <p class="">Com base no tipo solicitação, numero de pessoas e perido de duração nosso algoritimo inidica a quantidade ideal de profissionais de acordo com a sua necessidade</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="team-player">
                                    <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDpub25lO3N0cm9rZTojMDAwO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2Utd2lkdGg6MnB4O308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxnIGRhdGEtbmFtZT0iNDUtQ3JlZGl0IENhcmQiIGlkPSJfNDUtQ3JlZGl0X0NhcmQiPjxyZWN0IGNsYXNzPSJjbHMtMSIgaGVpZ2h0PSIyMiIgd2lkdGg9IjMwIiB4PSIxIiB5PSI1Ii8+PGxpbmUgY2xhc3M9ImNscy0xIiB4MT0iMSIgeDI9IjMxIiB5MT0iMTAiIHkyPSIxMCIvPjxsaW5lIGNsYXNzPSJjbHMtMSIgeDE9IjEiIHgyPSIzMSIgeTE9IjE2IiB5Mj0iMTYiLz48bGluZSBjbGFzcz0iY2xzLTEiIHgxPSIyNyIgeDI9IjE5IiB5MT0iMjEiIHkyPSIyMSIvPjxsaW5lIGNsYXNzPSJjbHMtMSIgeDE9IjE1IiB4Mj0iMTciIHkxPSIyMSIgeTI9IjIxIi8+PC9nPjwvc3ZnPg==" style="width: 30%;" alt="">
                                    <h4 class="title subtitle">Baixa rotatividade</h4>
                                    <p class="">Deixe que a nossa plataforma cuide da gestão de pagamentos dos profissionais de segurança.</p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                    <div class="team-player">
                                        <img  src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0aXRsZS8+PGcgZGF0YS1uYW1lPSI2NS1DaGVjayIgaWQ9Il82NS1DaGVjayI+PHBhdGggZD0iTTMwLDExSDI4djJoMlYyN0gyVjEzSDE2VjExSDJhMiwyLDAsMCwwLTIsMlYyN2EyLDIsMCwwLDAsMiwySDMwYTIsMiwwLDAsMCwyLTJWMTNBMiwyLDAsMCwwLDMwLDExWiIvPjxwYXRoIGQ9Ik0yMS4yOSwyMi43MWExLDEsMCwwLDAsMS40MSwwbDItMkExLDEsMCwwLDAsMjUsMjBWNGExLDEsMCwwLDAtMS0xSDIwYTEsMSwwLDAsMC0xLDFWMjBhMSwxLDAsMCwwLC4yOS43MVpNMjEsMTBoMnY5LjU5bC0xLDEtMS0xWiIvPjxwYXRoIGQ9Ik04LDIzaDlWMjFINkEyLDIsMCwwLDAsOCwyM1oiLz48cGF0aCBkPSJNMTYsMTlWMTdIMTBhMiwyLDAsMCwwLDIsMloiLz48L2c+PC9zdmc+" alt="" style="width: 30%;">
                                        <h4 class="title subtitle">Profissionais credenciados</h4>
                                        <p class="">Informe o local, horário numero de pessoais do que você precisa de seguranças.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="team-player">
                                        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDpub25lO3N0cm9rZTojMDAwO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2Utd2lkdGg6MnB4O308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxnIGRhdGEtbmFtZT0iNDYtTG9jayIgaWQ9Il80Ni1Mb2NrIj48cmVjdCBjbGFzcz0iY2xzLTEiIGhlaWdodD0iMjAiIHdpZHRoPSIyNCIgeD0iNCIgeT0iMTEiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik05LDExVjJhMSwxLDAsMCwxLDEtMWg2Ii8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMjMsMTFWMmExLDEsMCwwLDAtMS0xSDE2Ii8+PGNpcmNsZSBjbGFzcz0iY2xzLTEiIGN4PSIxNiIgY3k9IjE5IiByPSIzIi8+PGxpbmUgY2xhc3M9ImNscy0xIiB4MT0iMTYiIHgyPSIxNiIgeTE9IjIyIiB5Mj0iMjciLz48L2c+PC9zdmc+" style="width: 30%;" alt="">
                                        <h4 class="title subtitle">Gestão de pagamentos </h4>
                                        <p class="">Com base no tipo solicitação, numero de pessoas e perido de duração nosso algoritimo inidica a quantidade ideal de profissionais de acordo com a sua necessidade</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="team-player">
                                        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDpub25lO3N0cm9rZTojMDAwO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2Utd2lkdGg6MnB4O308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxnIGRhdGEtbmFtZT0iNDUtQ3JlZGl0IENhcmQiIGlkPSJfNDUtQ3JlZGl0X0NhcmQiPjxyZWN0IGNsYXNzPSJjbHMtMSIgaGVpZ2h0PSIyMiIgd2lkdGg9IjMwIiB4PSIxIiB5PSI1Ii8+PGxpbmUgY2xhc3M9ImNscy0xIiB4MT0iMSIgeDI9IjMxIiB5MT0iMTAiIHkyPSIxMCIvPjxsaW5lIGNsYXNzPSJjbHMtMSIgeDE9IjEiIHgyPSIzMSIgeTE9IjE2IiB5Mj0iMTYiLz48bGluZSBjbGFzcz0iY2xzLTEiIHgxPSIyNyIgeDI9IjE5IiB5MT0iMjEiIHkyPSIyMSIvPjxsaW5lIGNsYXNzPSJjbHMtMSIgeDE9IjE1IiB4Mj0iMTciIHkxPSIyMSIgeTI9IjIxIi8+PC9nPjwvc3ZnPg==" style="width: 30%;" alt="">
                                        <h4 class="title subtitle">Baixa rotatividade</h4>
                                        <p class="">Deixe que a nossa plataforma cuide da gestão de pagamentos dos profissionais de segurança.</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                    
                    
                </div>
                        <div class="text-center">
                            <div class="send-button">
                              <a href="/para-meu-evento/pedido" class="btn btn-primary btn-round btn-lg bg-info">Quero contratar para meu evento</a>
                              <a href="/para-minha-empresa/pedido" class="btn btn-primary btn-round btn-lg bg-info">Quero contratar para minha empresa</a>
                          </div>
            </div>
-->
    <!-- <div class="section section-about-us"> 
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Seguranças a um click de distância</h2>
                        <h5 class="description">A Grifoo é uma plataforma de contratação de seguranças onde todos os profissioais são verificados e qualifcados para proporcionar a melhor experiência e segurança.</h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left" style="background-image: url('../assets/img/banner-home-2.jpg')">
                                <!-- First image on the left side
                                <p class="blockquote blockquote-primary">"Contratei a Griffo para meu evento e foi uma ótima experiência, apenas indiquei horário e o local e pronto, lá estavam os profissionais"
                                    <br>
                                    <br>
                                    <small>-Raphael Inácio</small>
                                </p>
                            </div>
                            <!-- Second image on the left side of the article 
                            <div class="image-container" style="background-image: url('../assets/img/banner-home.jpg')"></div>
                        </div>
                        <div class="col-md-5">
                            <!-- First image on the right side, above the article
                            <div class="image-container image-right" style="background-image: url('../assets/img/banner-home-3.jpeg')"></div>
                            <h3>Gestão de pagamentos</h3>
                            <p>A plataforma da grifoo realiza a gerencia de pagamentos de forma facilitada para você que precisa realizar pagamentos com certa recorrência para seus seguranças</p>
                            <h3>Elime com o preblema da rotavidade</h3>
                            <p>Nunca mais sofra com a rotavidade de profissionais de seguranças, agora seu novo profissional esta a um clique de distância</p>
                            <h3>Profissionais qualificados para qualquer perfil de evento</h3>
                            <p>Fizemos todo o trabalho complicado em juntar em único lugar a maior rede de profissionais de segurança do país, não importa o perfil do seu evento ou a sua necessidade, temos o profissional certo para você </p>

                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    <!-- <div class="section section-about-us">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                      <h2 class="title">Serviços oferecidos</h2>
                      <h5 class="description">According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h5>
                  </div>
              </div>
              <div class="separator separator-primary"></div>
          </div>
      </div> -->
  </div>
