<form novalidate #formulario="ngForm" (ngSubmit)="salvarDadosEvento()">
  <div class="section section-basic">
    <div class="container">
      <div id="dados-pessoais">
        <h4>Sobre o Evento</h4>
        <p class="category">Conte-nos sobre o tipo de evento que você quer fazer</p>
        <div class="row">

          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="tipoEvento">Tipo de evento</label>
              <select class="form-control" name="tipoEvento" ngModel>
                <option *ngFor="let itemEvento of tiposDeEvento" [ngValue]="itemEvento">
                  {{ itemEvento.nome }}
                </option>
              </select>

            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label>Numero aproximado de convidados</label>
              <select class="form-control" name="numeroPessoas" ngModel>
                <option *ngFor="let itemNumeroPessoas of listaConvidadosEvento" [ngValue]="itemNumeroPessoas">
                  {{ itemNumeroPessoas.nome }}
                </option>
              </select>

            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="duracaoEvento">Duração aproximada em horas</label>
              <select class="form-control" name="duracaoEvento" ngModel>
                <option *ngFor="let itemduracaoEvento of listaDuracaoDeEvento" [ngValue]="itemduracaoEvento">
                  {{ itemduracaoEvento.nome }}
                </option>
              </select>

            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="dataHoraDeInicio">Data e hora de início</label>
              <input name="dataHoraDeInicio" ngModel required type="datetime-local" class="form-control" placeholder="Ex: 14/12/2019 ">
            </div>
          </div> 
        
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>Outras informações</label>
              <textarea ngModel name="outrasInformacoes" rows="5" class="form-control" placeholder="Informe aqui detalhes adicionais do evento que você ache necessário informar"></textarea>
            </div>
          </div>
        </div>

        <button class="btn btn-primary btn-round btn-lg pull-right bg-info" type="submit">Continuar</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</form>
