<div class="section section-basic">
    <div class="container mt-5-pc">
      <div class="row">
        <div id="dados-do-pedido" class="col-md-8 col-sm-12">
          <h4>Detalhes do Pedido</h4>
          <div>
            <p class="category">Dados pessoais</p>
            <dl>
              <dt>Nome</dt>
              <dd>{{cliente.nome}}</dd>
              <dt>Email</dt>
              <dd>{{cliente.email}}</dd>
              <dt>Telefone</dt>
              <dd>{{cliente.telefone}}</dd>
            </dl>
          </div>
  
          <div>
            <p class="category">Local do evento</p>
            <dl>
              <dt>Endereco</dt>
              <dd>{{endereco.rua}} - {{endereco.numero}}, {{endereco.complemento}}, {{endereco.bairro}}, CEP: {{endereco.cep}},
                {{endereco.cidade}}-{{endereco.estado}}
              </dd>
            </dl>
          </div>
  
          <div>
            <p class="category">Detalhes do evento</p>
            <dl>
              <dt>Evento</dt>
  
              <dd>{{evento.tipoEvento}}</dd>
              <dt>Periodo</dt>
  
              <dd>Total de horas: {{evento.duracaoEvento}} com início dia {{evento.dataHoraDeInicio | date: 'dd/MM/yyyy'}}</dd>
              <dt>Numero de pessoas</dt>
  
              <dd>{{evento.numeroPessoas}}</dd>
            </dl>
          </div>
  
        </div>
  
        <div *ngIf="possuiOrcamentos == false" id="orcamentos" class="col-md-12 col-sm-12">
          <h4> Status
            <span class="badge badge-warning">Aguardadndo cotações</span>
          </h4>
        </div>
  
        <div *ngIf="possuiOrcamentos" id="orcamentos" class="col-md-12 col-sm-12">
  
          <h4> Você possui <span class="badge badge-success">{{orcamentos.length}}</span> orcamentos</h4>
  
          <div *ngFor="let orcamentoItem of orcamentos">
            <p class="category">{{orcamentoItem.parceiro.nome}} - {{orcamentoItem.parceiro.email}} -
              <span *ngIf="orcamentoItem.selecionado" class="badge badge-success">Selecionado</span>
              <span *ngIf="orcamentoItem.selecionado != false && orcamentoItem.selecionado != true" class="badge badge-warning">Em
                Análise
              </span>
              <span *ngIf="orcamentoItem.selecionado == false" class="badge badge-danger">Reprovado</span>
            </p>
            <dl>
              <dl>
                <dt>Valor</dt>
                <dd>R$: {{orcamentoItem.valor}}</dd>
                <dt>Detalhes</dt>
                <dd>{{orcamentoItem.mensagem}}</dd>
              </dl>
              <button *ngIf="orcamentoItem.selecionado != false && orcamentoItem.selecionado != true" class="btn btn-info btn-round" (click)="selecionarCotacao(orcamentoItem)">
                Selecionar Cotação</button>
              <button *ngIf="orcamentoItem.selecionado == true || orcamentoItem.selecionado == false" class="btn btn-warning btn-round"
                (click)="cancelarCotacao(orcamentoItem)"> Cancelar Seleção</button>
              <button *ngIf="orcamentoItem.selecionado == true || orcamentoItem.selecionado != false" class="btn btn-danger btn-round"
                (click)="reprovarCotacao(orcamentoItem)"> Reprovar Cotação</button>
            </dl>
            <hr>
          </div>
        </div>
  
      </div>
    </div>
    <div>
  
    </div>
  </div>