<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top bg-info" color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/#/" title="Seguranças de forma simples e rápida"
          data-placement="bottom" target="_blank">
          {{titulo}}
        </a>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="#/parceiro">
                      Quero ser um parceiro
                  </a>
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link" href="#pablo">Link</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link disabled" href="#pablo">Disabled</a>
              </li> -->
          </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  