<div class="section section-basic">
  <div class="container">
    <div id="sucesso">
      <h4>Finalização do pedido</h4>
      <div class="alert alert-success" role="alert">
          <div class="container">
              <div class="alert-icon">
                  <i class="now-ui-icons ui-2_like"></i>
              </div>
              <strong>Pedido realizado com sucesso!</strong>.
          </div>
      </div>
      <p>Em minutos você receberá um email de confirmação do seu pedido, também entraremos em contato com você para confirmar
        algumas informações sobre seu evento</p>
        <p>Até breve!</p>
    </div>
    <button (click)="novoPedido()" class="btn btn-primary btn-round btn-lg pull-right" type="submit">Novo pedido</button>
    <div class="clearfix"></div>
  </div>
  <div>
  </div>
</div>
