<div class="section section-basic" style="margin-top: 100px">
    <div class="container">
      <div class="progress-container progress-info">
        <span class="progress-badge">{{titulo}}</span>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="progressoStyle" >
            <span class="progress-value">{{progresso}}%</span>
          </div>
        </div>
      </div>  
    </div>
  </div>